<div class="bg-gray-100 pb-10">
  <app-carousel></app-carousel>
  <app-filter [order]="selectedOrder" (filtrosCambiaron)="onFiltrosActualizados($event)"></app-filter>
  <ng-container *ngIf="loading">
    <div class="flex justify-center items-center pb-10">
      <span class="loading loading-ring loading-xl"></span>
    </div>
  </ng-container>
  <ng-container *ngIf="!loading">
    <div class="me-10 md:me-40 mb-5 flex items-center justify-end text-sm">
      Ordenar por:
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-sm m-1">{{ selectedOrder }}</div>
        <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
          <li *ngFor="let order of orders">
            <a (click)="selectedOrder = order">{{ order }}</a>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
  <div class="mx-20 flex flex-wrap justify-center gap-10 pb-10">
    <ng-container *ngFor="let actividad of actividades">
      <a href="#" class="hover:scale-105 transition-transform duration-300"
        [ngClass]="{'opacity-50': loading, 'pointer-events-none': loading}">
        <div class="card w-70 h-100 bg-base-100 shadow-xl">
          <figure class="max-h-[186px]"><img [src]="actividad.imagen" [alt]="actividad.deporte"/></figure>
          <div class="card-body">
            <div class="card w-20 h-15 bg-base-100 shadow absolute top-[150px] right-[20px]">
              <div class="h-full w-full flex justify-center items-center">
                <img [src]="actividad.icono" alt="icono" class="w-10">
              </div>
            </div>
            <h2 class="card-title mt-5">{{ actividad.titulo }}</h2>
            <p>{{ actividad.descripcion }}</p>
            <p *ngIf="actividad.extra">{{ actividad.extra }}</p>
          </div>
        </div>
      </a>
    </ng-container>
  </div>
  <div class="flex justify-center">
    <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)">
    </app-pagination>
  </div>
</div>